.input-btn {
  width: 100%;
  height: 100%;
  padding: 0 var(--space-m);
  color: var(--gray-2);
  background: var(--black-3);
  border-radius: var(--space-xs);
  border: 0.1rem solid transparent;
  transition: border 0.5s;
}

.input-btn:focus {
  border: 0.1rem solid var(--contrast-1);
  transition: border 0.3s;
}
