:root {
  --black-1: #030303;
  --black-2: #111111;
  --gray-1: #a1a1a1;
  --gray-2: #ededed;
  --white: #ffffff;
  --contrast-1: #0070f3;
}

body {
  background: var(--black-1);
}

h1 {
  color: var(--white);
}
h2 {
  color: var(--gray-2);
}
h3 {
  color: var(--gray-1);
}
h4 {
  color: var(--contrast-1);
}
